[submodule "it-projects-llc/saas-addons"]
	path = it-projects-llc/saas-addons
	url = git@github.com:it-projects-llc/saas-addons.git
	branch = 12.0-db-list

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 12.0

[submodule "it-projects-llc/odoo-saas-tools"]
	path = it-projects-llc/odoo-saas-tools
	url = git@github.com:it-projects-llc/odoo-saas-tools.git
	branch = 12.0
